<h1 mat-dialog-title >Add Product</h1>


<div mat-dialog-content>
    

  <form [formGroup]="productForm">
 
    <mat-form-field appearance="fill" color="warn">
        <mat-label>Product Name </mat-label>
        <input matInput placeholder="Name" formControlName="productName">
      </mat-form-field>


      <mat-form-field appearance="fill" color="warn">
        <mat-label>Product Category </mat-label>
        <mat-select placeholder="Category" formControlName="category">
            <mat-option value="fruits">fruits </mat-option>
            <mat-option value="vegetables"> vegetables</mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field appearance="fill" color="warn">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker ></mat-datepicker>
      </mat-form-field>

      <mat-label><h3>Product Freshness</h3></mat-label>
      <mat-radio-group color="warn" formControlName="freshness">
          <mat-radio-button *ngFor="let fresh of freshnessList" [value]="fresh" >
            {{fresh}}
          </mat-radio-button>
      </mat-radio-group>


    <mat-form-field appearance="fill" color="warn">
    <mat-label>Price</mat-label>
    <input matInput placeholder="price" type="number" formControlName="price">
    </mat-form-field>


    <mat-form-field appearance="fill" color="warn">
      <mat-label>Image</mat-label>
      <input matInput placeholder="image-url" type="text" formControlName="imageURL">
      </mat-form-field>
  
    <mat-form-field appearance="fill" color="warn">
        <mat-label>Comment</mat-label>
        <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>
    

  </form>

    
</div>


<div mat-dialog-actions  [align]="'end'">

  <button mat-raised-button mat-dialog-close color="warn">Close</button>
  <button mat-raised-button  color="primary" (click)="addProduct()">{{actionBtn}}</button>

</div>


